In [114]:
#Import Libraries
import pandas as pd

In [115]:
#Load Data File
logo = pd.read_csv('lego_sets.csv')
theme = pd.read_csv('parent_themes.csv')

# EDA

In [116]:
logo.head()

,set_num,name,year,num_parts,theme_name,parent_theme
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland
1,0011-2,Town Mini-Figures,1978,NaN,Supplemental,Town
2,0011-3,Castle 2 for 1 Bonus Offer,1987,NaN,Lion Knights,Castle
3,0012-1,Space Mini-Figures,1979,12.0,Supplemental,Space
4,0013-1,Space Mini-Figures,1979,12.0,Supplemental,Space

In [117]:
theme.head()

    id     name  is_licensed
0    1  Technic        False
1   22  Creator        False
2   50     Town        False
3  112   Racers        False
4  126    Space        False

In [118]:
logo.isnull().sum()

set_num          153
name             153
year               0
num_parts       5060
theme_name       153
parent_theme       0
dtype: int64

In [119]:
theme.isnull().sum()

id             0
name           0
is_licensed    0
dtype: int64

In [120]:
print('logo count', len(logo))
print('theme count',len(theme))

logo count 11986
theme count 111

In [121]:
print(logo['set_num'].nunique())

11833

In [122]:
print(theme['id'].nunique())

111

In [123]:
#drop null values from logo dataset
logo.dropna(subset = ['set_num'],inplace=True)

In [124]:
logo.isnull().sum()

set_num            0
name               0
year               0
num_parts       4998
theme_name         0
parent_theme       0
dtype: int64

In [125]:
len(logo)

11833

In [126]:
# logo['theme_name'].unique()
# logo['parent_theme'].unique()

# theme['name'].nunique() 
# =>> 111 (All are unique)

# logo[logo['theme_name']=='Star Wars']

# Q1 .  What percentage of all licenced sets ever released were star wars themed?

In [127]:
#Merge Data sets
merged = pd.merge(logo,theme,left_on='parent_theme',right_on='name')

In [128]:
len(merged)

11833

In [129]:
merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,name_y,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,Legoland,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,Legoland,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,Legoland,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,Legoland,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,Legoland,False

In [130]:
# check if the values in Column1 and Column2 are equal
# columns_equal = merged['parent_theme'].equals(merged['name_y'])
# print(columns_equal)

In [131]:
merged.drop(columns='name_y',inplace=True)

In [132]:

merged.head()

,set_num,name_x,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [133]:
#Change Column name 
merged.rename(columns = {'name_x':'name'},inplace = True)
merged.head()

,set_num,name,year,num_parts,theme_name,parent_theme,id,is_licensed
0,00-1,Weetabix Castle,1970,471.0,Castle,Legoland,411,False
1,00-2,Weetabix Promotional House 1,1976,NaN,Building,Legoland,411,False
2,00-3,Weetabix Promotional House 2,1976,NaN,Building,Legoland,411,False
3,00-4,Weetabix Promotional Windmill,1976,126.0,Building,Legoland,411,False
4,00-7,Weetabix Promotional Lego Village,1976,NaN,Building,Legoland,411,False

In [134]:
# merged['parent_theme'].unique()
licensed = merged[merged['is_licensed']]
star_wars = licensed[licensed['parent_theme']=='Star Wars']

In [135]:
star_war_count = ( len(star_wars)/ len(licensed) )*100
print(star_war_count)

51.653944020356235

# Q2. In which year star wars was not the most popular licensed theme (in terms of no. of sets relesed that year )

In [136]:
star_wars.groupby('year').count()
# g['year'].min()

      set_num  name  num_parts  theme_name  parent_theme  id  is_licensed
year
1999       13    13          7          13            13  13           13
2000       26    26         16          26            26  26           26
2001       14    14          9          14            14  14           14
2002       28    28         16          28            28  28           28
2003       32    32         16          32            32  32           32
2004       20    20         11          20            20  20           20
2005       28    28         18          28            28  28           28
2006       11    11          5          11            11  11           11
2007       16    16         12          16            16  16           16
2008       23    23         15          23            23  23           23
2009       39    39         18          39            39  39           39
2010       30    30         21          30            30  30           30
2011       32    32         15          32            32  32           32
2012       43    43         24          43            43  43           43
2013       35    35         19          35            35  35           35
2014       45    45         23          45            45  45           45
2015       58    58         34          58            58  58           58
2016       61    61         27          61            61  61           61
2017       55    55         28          55            55  55           55